*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid blue; */
    background-color: rgb(119, 10, 122);
    background-image: url("./assests/laptop\ bg.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.color{
    background-color: rgba(22, 12, 32, 0);
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    position: absolute;
}
nav{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family:"Roboto" ,sans-serif;
    color: rgb(255, 255, 255);
    /* border: 2px solid red; */
    padding-left: 1rem;
    padding-top: 2rem;
}
.toggle{
   /* border: 2px solid green; */
   height: fit-content;
   font-size: 35px;
   font-weight: 500;
}
.listitems{
    /* border: 2px solid orange; */
    height: fit-content;
    width: 50%;
    display: flex;
    justify-content: space-between;
    
}
.listitems p{
    display: inline-block;
    padding: 0.3rem;
    padding-left: 4rem;
    font-family: "Nunito Sans", sans-serif;
    /* font-weight: 600; */
    font-size: 1.2rem;
}
.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    width: 8%;
    height: 45px;
    margin-right: 8px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 1px rgb(68, 68, 68);

    /* padding-right: 2rem; */
}
.button button{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    height: fit-content;
    color: white;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border-radius: 10px;
    
}
main{
    height:88%;
    width: 100%;
    /* border: 2px solid white; */
    /* background-color: beige; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maindiv{
    height: 80%;
    width: 32%;
    /* border: 2px solid green; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgb(68, 68, 68);
    
}
.navdiv{
    height: 22%;
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 2px solid red; */
}
.navdiv h1{
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 30px;
    color: rgba(14, 14, 78, 0.87);
}
.navdiv button{
    position: absolute;
    right: 30px;
    top: 17px;
    background-color: transparent;
    border: none;
}
.navdiv button i{
    font-size: 25px;
    color: gray;
}
.inputlogin{
border-bottom: 2px solid gray;
}
.inputlogin i{
    color: gray;
}
.inputlogin input{
   border: none; 
   padding: 0.5rem;
   font-size: 1rem;
}
.input_form{
    padding: 2rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border: 2px solid rgb(113, 0, 117); */
}
.checkboxdiv{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    /* border: 2px solid blue; */
}
.checkboxdiv label{
    color: gray;
}
.checkboxdiv span{
    color: rgba(45, 0, 128, 0.712);
}
.buttonlogin{
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: fit-content;
    /* border: 2px solid green; */
}
.buttonlogin button{
    width: 100%;
    padding: 0.8rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    box-shadow: 1px 2px 4px 1px rgb(68, 68, 68);
    background-color: rgba(45, 0, 128, 0.712);
}
.lastdiv{
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: fit-content;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
}
.lastdiv p{
    color: gray;
}
.lastdiv p span{
    color: rgba(45, 0, 128, 0.712);

}